.Toporder{
    background-image: url("../assets/BImg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 265vh;
    width: 150vh;
    
}

#header2{
    position: relative;
    width: 20vh;
    height: 11vh;
    background-color: #6C8E0AAB;
}

#navbox2{
    position: relative;
    width: 121vh;
    height: 7vh;
    background-color: #6C8E0AAB;
    left: 132px;
    bottom: 25px;
}

#header-text-4{
    position:relative;
    font-family: "Times New Roman", Times, serif;
    font-size: 2.5vh;
    color: white;
    margin-left: 15px;
    top: 5px;
}

#header-text-5{
    font-family: "Times New Roman", Times, serif;
    font-size: 2.5vh;
    color: white;
    position: relative;
    top: 21px;
    right: 8px;
}

#header-text-6{
    font-size: 2.5vh;
    color: white;
    font-family: "Times New Roman", Times, serif;
    position: relative;
    top: 38px;
    right: 12px;
}

.Getout{
    position: relative;
    left: 109vh;
    top: 8px;
    color: white;
   }
 
.logo{
    position: relative;
    left: 96vh;
    top: 8px;
}   

.block1{
    position: relative;
    top: 10vh;
    width: 125vh;
    height: 157vh;
    background-color: #6C8E0AAB;
    border-radius: 20px;
    left: 8vh;
}

.Ordercard{    
    position: relative;
    height: 60vh;
    width: 41vh;
    top: 35px;
    border-radius: 20px;
    left: 90px;
    
}

