.Toporder{
    background-image: url("../assets/BImg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 265vh;
    width: 150vh;
    
}

#header2{
    position: relative;
    width: 22%;
    height: 7%;
    background-color: #6C8E0AAB;
}

#navbox2{
    position: relative;
    width: 117vh;
    height: 7vh;
    background-color: #6C8E0AAB;
    left: 220px;
    bottom: 44px;
}

#header-text-4{
    position:relative;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    color: white;
    margin-left: 15px;
    top: 5px;
}

#header-text-5{
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    color: white;
    position: relative;
    top: 34px;
    right: 13px;
}

#header-text-6{
    font-size: 30px;
    color: white;
    font-family: "Times New Roman", Times, serif;
    position: relative;
    top: 68px;
    right: 23px;
}

.Getout{
    position: relative;
    left: 105vh;
    top: 8px;
    color: white;
    font-size: 20px;
   }
 
.logo{
    position: relative;
    left: 90vh;
    top: 5px;
}   

.block1{
    position: relative;
    top: 50vh;
    width: 125vh;
    height: 150vh;
    background-color: #6C8E0AAB;
    border-radius: 20px;
    left: 11vh;
}

.Ordercard{    
    position: relative;
    height: 105vh;
    width: 80vh;
    border-radius: 20px;
    left: 90px;
    
}

