.OrderCard{
    position: relative;
    width:max-content;
    height: max-content;
    background-color: white;
    border-radius: 10px;
}

.OrderRowStyle{
    padding: 3% 3% 0% 3%;
}

.customerInfo{
    align-self: center;
    text-align: center;
    color: white;
    font-weight: bold;
}

.Upper{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    background-color: #779c07;
    border-radius: 10px 10px 0px 0px;
}

table{
    display:block;
    height : 200px;
    overflow-y : scroll;
}
th, td {
    text-align: center;
    padding: 10px;
}

.Total{
    font-weight: bold;
}

.Status{
    margin-top: 10px;
    width:100%;
    border-radius: 0px 0px 10px 10px;
    border-style: none;
    background-color: red;
    color: white ;
    font-weight: bold;
    padding: 3%;
    bottom: 0;
}

.Delivered{
    margin-top: 10px;
    width:100%;
    border-radius: 0px 0px 10px 10px;
    border-style: none;
    background-color: #779c07;
    color: white ;
    font-weight: bold;
    padding: 3%;
}
