

.logo{
    position: absolute;
    left: 181vh;
}   
.Box{
    position: absolute;;
    top: 14%;
    left: 20%;
    width: 60%;
    height: 80%;
    background-color: #6d8e0ae1;
    border-radius: 40px;
}


::placeholder{
    text-align: center;
    color: #6e8f0aab;

}
.logout{
    position: absolute;
    margin-left: 56%;
    top: 20%;
      
}


.form-row{
    margin-left: 40% !important;
    padding-top: 5%;
 
    
}

.form-inline{
    width: 400px;
    height: 40px;
    
}

/* .form-group{
    width: 400px;
   margin-top: 10%;
   margin-left: 30%;

} */

select>option{
  height: 10;
}

.Sample{
    width: 400px;
    margin-top: 8%;
    margin-left: 30%;
}


#signout{
    font-size: 20px;
    padding-left: 5%;
    color: white;
}

#nextpage{
    font-size: 20px;
    padding-left: 59%;
    color: white;
}

.Lol{
    display:flex;
    margin-left: 25%;
}

.Error{
    font-size: 20px;
    height: 0px;
    padding-left: 37%;  
    color: Red;  
}

.Errors{
    font-size: 20px;
    height: 1px;
    padding-left: 37%;
    color: Red;
}