/* .Container{
    width: 50vh;
    height: 18vh;
    background-color: white;
}

.Container img{
    height: 18vh;
    
} */

.Open{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 50px;
}

.Container{
    position:relative;
    left: 12%;
    top: 40%;
    width: 74%;
    height: 10vh;
    background-color: white;  
    border-radius: 10px;  
    
    
}

.Open img{
    width: 50%;
    height: 10vh;
    border-radius: 10px 0px 0px 10px;
}

.Sub{
    position: absolute;
    left: 49.9%;
    bottom: 1%;
    width: 50%;
    border-radius: 0px 0px 10px 0px;
    border: black;
    background-color: green;
    color: white;
}

#Quantity{
    padding-left: 14px;
    font-size: 15px;
}