/* .products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}*/
/* 
.product img{
    width: 50%;
    
}

.product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   width: 50%;
} */