.image{
    background-image: url("../assets/BImg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 190vh;
    width: 100vh;
    

}



.block{
    position: absolute;
    top: 44%;
    width: 96vh;
    height: 83vh;
    background-color: #6C8E0AAB;
    border-radius: 21px;
    left: 3%;
}

#header{
    width: 19%;
    height: 6%;
    background-color: #6C8E0AAB;
}

#navbox{
    position: relative;
    width: 81vh;
    height: 45%;
    background-color: #6C8E0AAB;
    left: 110px;
    bottom: 38px;
}

#header-text-1{
    font-family: "Times New Roman", Times, serif;
    font-size: 2.5vh;
    color: white;
    margin-left: 10px;
}

#header-text-2{
    font-family: "Times New Roman", Times, serif;
    font-size: 2.5vh;
    color: white; 
    position: relative;
    top: 17px;
    right: 7px;
}

#header-text-3{
    font-size: 2.5vh;
    color: white;
    font-family: "Times New Roman", Times, serif;
    position: relative;
    top: 35px;
    right: 11px;
}

.Linked2{
    position: relative;
    color: white;
    left: 11vh;
    font-size: 2.5vh;
}
 
#Addpro{
      position: relative;
      font-size: 2.5vh;  
      left: 10vh;
}
 
.Linked{
    position: relative;
    color: white;
    font-size: 2.5vh;
    right: 26vh;
}

.out{
     position: relative;
     height: 24px;
     left: 10vh;
     
}
 

 .flexbox{
     display: flex;
     flex-direction: row;
     color: white;
     justify-content: flex-start;
     justify-content: space-around;
     padding-top: 7px;
    
     
 }

.notok img{
    position: relative;
    height: 70px;
    width: 8vh;
    border-radius: 10px 0px 0px 10px;
    right: 2px;
    bottom: 1px;
}

.products{
    width: 20%;
    height: 18%;
}

.Button{
    position: relative;
    width: 103px;
    left: 51px;
    bottom: 71px;
    border-radius: 0px 0px 10px 0px;
}

.text{
    position: relative;
    left: 59px;
    bottom: 65px;
}


.notok{
 position: relative;
 display: grid;
grid-template-columns: 250px 250px ;
 
  width: 250px;
 left: 40px;
}

.allok{
    height: 71px;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 25vh;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border: radius 20px;;
    margin: 48px;
    border:none;
    
}