
@media only screen and (min-width: 320px) {
.bgimage{
   background-image: url("../assets/BgImage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}


.Main{
    position: relative;
    top: 10%;
    left: 8%;
  width: 85%;
  height: 70%;
  background-color: #6C8E0AAB;
    

}

.Heading{
 text-align: center;
 color: white;
}

.flexBox{
    display: flex;
    margin-top:2%;
}

.flexBox > div{
  margin: 8%;

}







@media only screen and (min-width: 575px) {
    
    .Main{
        width: 55%;
        height: 76%;
        padding-top: 10%;
        margin-left: 30%;
    }
  

    .flexBox{
        margin-left: 15%;
    }
    
}

 @media only screen and (min-width: 768px) {
.Main{
    width: 50%;
    height: 80%;
    padding-top: 7%;
    margin-left: 35%;
}


  
 
 }

 @media only screen and (min-width: 1024px){
     .Main{
         width: 40%;
         margin-left: 49%;
         height: 80%;
         padding-top: 7%;
     }
     

     .flexBox >  div{
         margin:10%;
     }
 }

 @media only screen and (min-width: 1440px){
     .Main{
         width: 30%;
         height: 75%;
         margin-left: 55%;
         padding-top: 2%;
     }

    }

.Heading{
    padding-top: 25px;
}


.Msg{
    padding-left: 30%;
    padding-top: 2%;
}

.popup{
    padding-left: 30%;
    padding-top: 2%;
}

.Msgs{
    padding-left: 37%;
    padding-top: 2%;
    color:red;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.btn-primary {
    background-color:white !important;
    color: green !important;
   border: white !important;
   
}


.form-group {
    width: 400px;
    margin-top: 65px;
}

.form-control{
    margin-left: 42px;
}


input[type="text1"]::placeholder{
    text-align: left;
}

input[type="password"]::placeholder{
    text-align: left;
}
}