.bgimage{
    background-image: url("../../assets/BImg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}


.main{
position: absolute;
right: 14%;
top: 19%;
 width: 70%;
 height: 53vh;
background-color: #6C8E0AAB;
text-align: center;
border-radius: 10px;

}

.passlogo
{

    position: relative;
    right: 14vh;
    bottom: 25px;
    height: 21px;;
}

.maillogo{
   
    height: 16px;
    position: relative;
    right: 14vh;
    bottom: 25px;
}

::placeholder{
 position: relative;
}

input{

    position: relative;
    font: bold;
    border-radius: 10px;
    border-style: dotted;
    border-color: white;
    width: 36vh;
    right: 6px;
    

}

.signup{
    margin: 15px;

}

.submit{
    margin: 15px;
  
    color: #6C8E0A;
}



.Password{
    position: relative;
    font: message-box;
    width: 33vh;
    left: 20px;   
}

.Email{
    position: relative;
    font: message-box;
    width: 33vh;
    left: 20px;


}

.Heading{
    margin: 35px;
    color: white  
}

.button{
    position: relative;
     border-radius: 10px;
    height: 31px;
    width: 73px;
    border-style: dotted;
    border-color: white;
    color: #6C8E0A;
    bottom: 12px;
    left: 5px;
    
} 


.button2{
    color: #6C8E0A;
    height: 30px;
    width: 130px;
    font: message-box;
    border-radius: 10px;
    border-style: dotted;
    border-color: white;
}

.flexBox{
    display: flex;
    justify-content: center;
   
    
    
}

.Enter{
    font: message-box;
    color: #6C8E0A;
}

