.bgimage{
    background-image: url("../../assets/BImg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}


.main{
position: absolute;
right: 14%;
top: 19%;
 width: 70%;
 height: 53vh;
background-color: #6C8E0AAB;
text-align: center;
border-radius: 10px;

}

.passlogo
{

    position: relative;
    right: 14vh;
    bottom: 25px;
    height: 21px;;
}

.maillogo{
   
    height: 16px;
    position: relative;
    right: 14vh;
    bottom: 25px;
}

::placeholder{
 position: relative;
}

input{

    position: relative;
    font: bold;
    border-radius: 10px;
    border-style: dotted;
    border-color: white;
    width: 36vh;
    right: 6px;
    

}

.signup{
    margin: 15px;

}

.submit{
    margin: 15px;
  
    color: #6C8E0A;
}



.Password{
    position: relative;
    font: message-box;
    width: 33vh;
    left: 20px;   
}

.Email{
    position: relative;
    font: message-box;
    width: 33vh;
    left: 20px;


}

.Heading{
    margin: 35px;
    color: white  
}

.button{
    position: relative;
     border-radius: 10px;
    height: 31px;
    width: 73px;
    border-style: dotted;
    border-color: white;
    color: #6C8E0A;
    bottom: 12px;
    left: 5px;
    
} 


.button2{
    color: #6C8E0A;
    height: 30px;
    width: 130px;
    font: message-box;
    border-radius: 10px;
    border-style: dotted;
    border-color: white;
}

.flexBox{
    display: flex;
    justify-content: center;   
}

.Enter{
    font: message-box;
    color: #6C8E0A;
}

@media only screen and (min-width: 768px) {
    
    .main{
        position: absolute;
        right: 7%;
        top: 19%;
         width: 85%;
         height: 53vh;
        background-color: #6C8E0AAB;
        text-align: center;
        border-radius: 10px;
        
        }

    .Gmail{
         position: relative;
         height: 60px;
         top: 25px;
         width: 50vh;
         left: 57px;
         font-size: 30px;
         font-family: 'Times New Roman', Times, serif;
    }

    .Unique{
        position: relative;
        height: 60px;
        top: 30px; 
        width: 50vh;
        left: 57px;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
    }

   ::placeholder{
       position: relative;
       right: 90px;
       text-align: left;
   }
    .maillogo{
   
        height: 30px;
        position: relative;
        right: 7vh;
        bottom: 21px;
    }
    .passlogo
{

    position: relative;
    right: 7vh;
    bottom: 21px;
    height: 40px;;
}
    
    .flexBox{
        display: flex;
        justify-content: center;   
        padding-top: 20vh;
        padding-right: 30px;
        
    }

    .button2{
        position: relative;
        bottom: 11vh;
        left: 40px;
        width: 27vh;
        height: 5vh;
    }
    
    .button{
        position: relative;
        bottom: 12vh;
        width: 17vh;
        height: 5vh;
        
       
    }
    
    .Enter{
        position: center;
        font-size: 40px;
        font-family: 'Times New Roman', Times, serif; 
        
    }

    #New{
        position: center;
        font-size: 40px;
        font-family: 'Times New Roman', Times, serif; 
      
    }
}